---
extends: default
# Fichiers d'override générés par ArgoCD Image Updater (write-back git) : indentation imposée.
ignore: |
  .argocd-source-*.yaml
  **/.argocd-source-*.yaml
rules:
  line-length: disable
  document-start: disable
  truthy:
    check-keys: false
